<div class="col-md-6">
  <h2 class="text-center">Login</h2>
<form>
  <div class="form-group">
    <label for="name">Username</label>
    <input type="name"  placeholder="username" name="name" class="form-control" id="name">
  </div>


  <div class="form-group">
    <label for="empId">Password</label>
    <input type="password" placeholder="password" name="Employee Id" class="form-control" id="employeeid">
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">Login</button>
    <a [routerLink]="['/registration']" class="btn btn-link">Register</a>
</div>
</form>
</div>
